.Shopingbody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}
.Shopingcontainer1{
    width: 100%;
    /* height: 80vh; */
}
.Shopingcontainer2{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    /* background-color: green; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.Shopingdiv{
    width:  280px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    /* background-color: blue; */
}

.Shopingdivspan1{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-radius: 9px;
    background-color: #F7F7F7;
}

.Shopingdivspan1img{
    width: 80%;
    height: 80%;
    border-radius: 9px;
}

.Shopingdivspan1h3{
    font-size: 15px;
}
.Shopingdivspan1p{
    font-size: 13px;
}

.Shopingdivspan2{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: green; */
} 

.Shopingdivspan2but{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    background-color: #A20401;
    color: #F7F7F7;
    border: none;
}
.Shopingcontainer3{
    width: 95%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

}


